* {
    font-family: "Segoe UI",tahoma,Arial;
    font-size: 14px;
    color: #828181;
}

body {
    margin: 0;
}

input[type=checkbox] + label {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    font-weight: bold;
}

input[type=checkbox]:checked + label{
    font-weight: normal;
    text-decoration: line-through;
}



/* Customize the label (the container) */
.container {
display: block;
position: relative;
padding-left: 25px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 12px;
width: 12px;
background-color: #fff;
border:solid 1px #828181;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 3px;
top: 0px;
width: 4px;
height: 8px;
border: solid #828181;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

div.flex{
display: flex;
flex-wrap : wrap;
flex-grow:1;
}

div.flex >div {
flex: 0 50%;
}

div.new{
text-align: center;
vertical-align: middle;
line-height: 160px;
color:#9B9B9B;
}